/** Базовые анимации: */
@import 'keyframes';

/** Стили для полноэкранного блока: */
// @import "fullscreen";

/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*='__container'] {
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem($mainOffset);
   @include media-mx(940) {
      padding: 0 rem(32);
    }
    @include media-mx(540) {
      padding: 0 rem(24);
    }
    @include media-mx(430) {
      padding: 0 rem(10);
    }
}

// Стили отзывчивых картинок (IBG) ============================================
[class*='-ibg'] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    // object-fit: cover;
  }
}

[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}

// Оболочка ===================================================================
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /** Поменять на clip - если используется в проекте position: sticky */
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: rem($headerHeight);
  }
}


.base__top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(16);
  font-size: rem(60);
  color: var(--primary-color);
  padding-top: rem(128);
  &_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(16);
    position: relative;
  }
  &_icon{
    
    &_tag{
      font-size: rem(168);
      position: absolute;
      right: rem(344.5);
    }
}
}
.base__content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
&_tittle{
  color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: rem(64);
  line-height: rem(72);
  text-decoration: underline;
  padding: rem(64) 0 rem(16) 0;
}
&_text{
  color: var( --bs-font-color);
  text-align: center;
  font-size: 50px;
}
}

.activ{
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}